html {
  overflow-y: scroll;
}
body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333;
    font-size: 1.15rem;
    line-height: 1.4em; 
    margin: 1;
}
p{
    margin-bottom: 1.6em;
}
.container{
    width: 85%;
    margin: 0 auto;
}

.container figure{
    box-shadow: 0px 10px 25px rgba(0,0,0,0.50);
    cursor: pointer;
}

.container figure img{
    transition: all 500ms ease-out;
}

.container figure .layer{
    position: absolute;
    top: 5px;
    width: 100%;
    height: 100%;
    background:rgb(255,255,255,0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;   
}

.container figure .layer h3{
    color:#424242;
    margin-top: 200px;
    margin-bottom: 0px;  
    font-size: 20px;    
}

.container figure .layer h4{
    color:#424242;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
    font-size: 30px;    
}

.container figure .layer h5{
    color:#424242;
    margin-top: 0px;
    margin-bottom: 0px;    
}

.container figure .layer h6{
    color:#424242;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 19px;   
}

.container figure:hover>.layer{
    opacity: 1;
    visibility: visible;
    vertical-align: middle;
    
}
.container figure:hover > .layer h3{
    color:#424242;
    margin-top: 200px;
    margin-bottom: 0px;  
    font-size: 20px;
}

.container figure:hover > .layer h4{
    color:#424242;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
    font-size: 30px;
}

.container figure:hover > .layer h5{
    color:#424242;
    margin-top: 0px;
    margin-bottom: 0px;
}

.container figure:hover > .layer h6{
    color:#424242;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 19px;    
}

.header{
    color:floralwhite; 
    padding: 0.5rem 0;  
}

.header a {
    color:black;
    text-decoration:none;
}

.logo-nav-conainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;    
}

.menu ul li{
    display: inline-block;    
 }

.menu ul li a {
    display: block;  
    padding: 0.4rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.menu ul li a:hover{
    background: #ededed;    
}

.footer {
    background: #383838;
    margin: 1;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
    color: white;
    margin-top: 3rem;
}

.formulario{
    background-attachment: fixed;
    margin: 0;
}
form{
    width: 100%;
    margin: auto;
    padding: 10px 20px;
    box-sizing:border-box;
    font-size: 17px;
}

input, textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    color: black;
}

textarea{
    min-height: 154px;
}


h4{
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 38px;    
}

h6{
   color: black;
    margin: 1px;
    margin-top: 5xp;
    line-height: 2.2em;
    font-family: 'Open Sans Condensed', sans-serif;
}

.boton:hover{
    cursor: pointer;
    background: #ededed;    
}

.espacio{
    height: 40px;
}

.espacio_2{
    height: 30px;
}

.espacio2_3{
    height: 45px;
}

.espacio_jardin{
    height: 5px;
}

.centrado{
    height: 10px;
    color: blue;
}

  
.p_espacio_jardin{
    margin-bottom: 2px;     
}

.texto_mo{
    text-align:justify;
}

.texto_jardin{
    text-align:justify;
}

.redes ul{
    margin: 0;
    padding: 0;
    list-style: none;    
}

.redes ul li{
    display: inline-block;    
 }

.redes ul li a {
    display: block;  
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    border: 0;
    margin: 0;
    


