body{
    background-color: #265956;
}

.container {
  width: 100vw;
  max-width: 1000vw;
  margin: 0 auto;
  overflow-x: hidden;
}

.container_frase_inicio{
    padding-top: 115px;
    vertical-align: middle;
    height: 60vh;     
}

.frase_inicio{
    max-width: 450px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}

h1{
    color:#FFBB00;
    font-size:100px;
    padding:90px;
    font-family: 'Red Hat Display', sans-serif;
}

h2{
    color:#FFFFFF;
    font-size:37px;
    padding:5px;
    font-weight: 400;
    font-style: Thin;
    font-family: 'Raleway', sans-serif;
}

h3{
    color:#FFBB00;
    font-size:40px;
    padding:5px;
    font-family: 'Raleway', sans-serif;
}

p{
    color:#FFBB00;
    font-size:30px;
    padding:5px;
    font-family: 'Raleway', sans-serif;
}

